<div class="container box-nav">
    <nav class="navbar navbar-light bg-light">
      <ul class="nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts']" routerLinkActive="active">Posts</a>
        </li>
    </ul>
    <app-header-profile></app-header-profile>

  </nav>

</div>
<div class="container box-container">
  <router-outlet></router-outlet>
</div>
