<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label>FirstName</label>
    <input type="text" class="form-control" formControlName="firstName" >
    <!-- <label style="color:salmon;"
  *ngIf = "formGroup.get('firstName').invalid && 
  formGroup.get('firstName').touched && 
  formGroup.get('firstName').errors['required']">Reqiured.</label>
  <label style="color:darksalmon;"
  *ngIf = "formGroup.get('firstName').invalid && 
  formGroup.get('firstName').touched && 
  formGroup.get('firstName').errors['minlength']">Minimum length is 2.</label> -->
  </div>

  <div class="form-group">
    <label>LastName</label>
    <input type="text" class="form-control" formControlName="lastName">
    <!-- <label style="color:salmon;"
  *ngIf = "formGroup.get('lastName').invalid && 
  formGroup.get('lastName').touched &&
  formGroup.get('lastName').errors['required']">Reqiured.</label>
  <label style="color:darksalmon;"
  *ngIf = "formGroup.get('lastName').invalid && 
  formGroup.get('lastName').touched && 
  formGroup.get('lastName').errors['minlength']">Minimum length is 2.</label> -->
  </div>

  <button class="btn btn-primary">Submit</button>
</form>